/* Home.css */

.home {
  width: 100%;
  height: 100vh; /* Make the container full height of viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/images/img_bg_2.jpg') no-repeat center center fixed;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.home__header {
  text-align: center;
  margin-bottom: 40px;
  color: #fff; /* Ensure text is readable against background */
}

.home__header h1 {
  margin: 0;
  font-size: 2.5em;
}

.home__tagline {
  font-size: 1.2em;
}

.home__contact {
  text-align: center;
  color: #fff; /* Link color */
  margin-top: 20px;
}

.home__contact p {
  margin: 5px 0;
}

.home__contact a {
  color: #fff; /* Link color */
  text-decoration: none;
}

.home__contact a:hover {
  text-decoration: underline;
}

.home__download-btn {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home__download-btn:hover {
  background-color: #2980b9;
}
